<!-- Style -->



<!-- Pages -->
<div class="panel">

	<div class="panel-title title-success">Collections</div>

	<div class="table">

		<div class="block mb-4">
			<button class="button button-success mr-2">Create Collection</button>
		</div>

		<table class="table table-hover" id="plugins">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Records</th>
					<th>Operate</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>Favors</td>
					<td>Redis</td>
					<td>15</td>
					<td>
						<button class="button-icon"><i class="fas fa-search"></i></button>
						<button class="button-icon"><i class="fas fa-edit"></i></button>
						<button class="button-icon"><i class="fas fa-trash"></i></button>
					</td>
				</tr>

				<tr>
					<td>Test</td>
					<td>File</td>
					<td>36</td>
					<td>
						<button class="button-icon"><i class="fas fa-search"></i></button>
						<button class="button-icon"><i class="fas fa-edit"></i></button>
						<button class="button-icon"><i class="fas fa-trash"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>


<!-- Script -->