<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><i class="fab fa-avianex"></i> Charlie</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/execute">Execute</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/notepad">Notepad</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/photos">Photos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/plugins">Plugins</a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/collections">Collections</a>
                    <a class="dropdown-item" href="/index/rename">Photos Rename</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<script>
    
    var _controller = '{$Request.controller}';

    switch (_controller) {
        case 'Photo':
            _controller = 'Photos';
            break;

        case 'Plugin':
            _controller = 'Plugins';
            break;
    }

    $('.nav-item > a').each(function(index, el) {
        var _text = $(this).text();

        if (_text == _controller) {
            $(this).parent('.nav-item').addClass('active');
        } else {
            $(this).parent('.nav-item').removeClass('active');
        }
    });

    // console.log(_controller);

</script>